.slideLevel {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slideLevel:before {
    content: "";
    height: 0%;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  .slide-img-lvl {
    width: 40%;
    float: left;
    position: relative;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background: aliceblue;
    align-items: center;
  }
  .slide-img-lvl :before {
    content: "";
    height: 0%;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  .slide-img-lvl img{
    max-height: 10rem;
  }
  
  .slide-button-lvl{
    margin-top:20px;
  }
  .button-left-lvl {
    float: left;
   color: rgb(116 113 113);
    font-size:20px;
    cursor:pointer;
  }
  .button-right-lvl {
    float: right;
    text-align: right;
    color: rgb(116 113 113);
    font-size:20px;
    cursor:pointer;
  }   
  .button-right-lvl:not(.inactive):hover, .button-left-lvl:not(.inactive):hover{
    color:black;
  }
  .inactive {
    color: #ccc;
  }

  .slide-content-quote-lvl{
    font-style: italic;
    color:rgb(141, 17, 17);
    font-size:13px;
    margin-bottom:10px;
  }