* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html{
  background-image: url(https://aitorsantaeugenia.github.io/TD_Project1/images/loadingScreen1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.startingMenu > p {
  margin: 100px auto;
  font-size: 3.5rem;
  font-weight: 900;
}

canvas {
  background: url("https://aitorsantaeugenia.github.io/TD_Project1/images/background.png");
  margin-top: 40px ;
  background-repeat: no-repeat;
  /* border:1px solid red; */
}

.flexForCanvas{
  text-align: center;
  /* border:1px solid red; */
} 

#startGame{
  color:yellow;
  background-color: rgb(7, 7, 110);
  padding:15px 140px;
  font-size:30px;
  border-radius: 10px;
  box-shadow: 5px 10px #000000;
  border:2px solid rgba(243, 219, 1, 0.979);
  cursor: pointer;
}

#startGame:hover {
  background-color: rgb(7, 7, 155);
}

.turretSelector{
  position:absolute;
  display: flex;
  flex-direction: row;
  width: 1200px;
  height:130px;
  margin-top:-135px;
  /* border:1px solid red; */
}

.turretsMenuToPick{
  text-align: right;
  /* border:1px solid green; */
  margin-right: 10px;
}

.turretsMenuToPick img{
  width: 60px !important;
  margin: 0 5px;
}

.costGold {
  /* border:1px solid red; */
  width:100px;
  display:flex;
  flex-direction: column;
  margin-top: 10px;
}

.costGold img{
  width: 60px!important;
  /* border:1px solid red; */
  align-self: center;
}

.costTurrets{
  color:rgba(250, 250, 26, 0.822);
  font-weight: bolder;
  font-size: 25px;
  /* border:1px solid red; */
  font-family: Play;
}

.hpContainer img {
  width: 30px;
  height: 30px;
}

.goldContainer img {
  width: 30px;
  height: 30px;
}

.turretToSelect{
   cursor:pointer;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.hpContainer{
  /* border:1px solid red; */
  width: 10px;
}

.goldContainer{
  /* border:1px solid red; */
  width: 10px;
}

.margin-leftDiv{
  margin-left:80px;
}

.imageGif{
  height: 129px !important;
  width: 160px;
  /* border:1px solid yellow */
  margin-top: -4px;
}

.imageGif img{
  width: 160px !important;
  height:100%;
  margin-top: 5px;
}

.turretSelectedBorder {
  border: 3px solid rgba(250, 250, 26, 0.822);
}

.buttonSelectedBorder{
    border: 3px solid rgba(250, 250, 26, 0.822);
}

.startingMenu {
  background: url("https://aitorsantaeugenia.github.io/TD_Project1/images/loadingScreen.png");
  background-size: 100%;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.startingMenu > p {
  margin: 100px auto;
  font-size: 3.5rem;
  font-weight: 900;
}

.lowerMenuTowers{
  width: 1200px;
  position:relative;
  justify-content: center;
  /* border:1px solid red; */
  margin: 0 auto;
  margin-top: -200px;
}

.lowerMenuTowers img{
  width: 1200px;
}

#idGoldTurretCost{
  margin-left:-8px;
}

#goldPlayer{
  margin-left:-2px;
}

#hpPlayer{
  margin-left: -5px;
}

#cheatCodes{
  /* border:1px solid black; */
  position: absolute;
  margin-top: -705px;
  width:100vw;
  text-align: center;
  font-family: Play;
  
}

#cheatCodes span{
  background-color: white;
   height: 100%;
    /* border:3px solid black; */
    font-family: Play;
    
}

#cheatCodes input{
  width: 600px;
  height:30px;
  border:hidden;
  color:lawngreen;
  background-color: black;
  
}

#cheatCodes input:focus{
   outline: none;
}

.inputContainer{
  color:lawngreen;
}
#preventDrag{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

#gameMenu img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.noDrag{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

#restarButtonDiv{
  /* border:1px solid red; */
  text-align: center;
  width: 95vw;
  position: absolute;
  margin-top: -380px;
  margin-left:60px !important;

}

#restartButtonGame{
  color:yellow;
  background-color: rgb(7, 7, 110);
  padding:15px 140px;
  font-size:30px;
  border-radius: 10px;
  box-shadow: 5px 10px #000000;
  border:2px solid rgba(243, 219, 1, 0.979);
  cursor: pointer;
 
}

#restartButtonGame:hover {
  background-color: rgb(7, 7, 155);
}

#restartingTimerText{
color:red;
font-size: 50px;
font-weight: bold;
font-family: Play;
}

.logoSoundSound{
  width: 22px !important;
  height: 22px !important;
  position: absolute;
  margin-top:-40px;
  margin-left:14px;
}
.logoSoundNoSound{
  width: 22px !important;
  height: 22px !important;
  position: absolute;
  margin-top:-15px;
  margin-left:13px
}
.hidden {
  display: none;
}
/* ------------------------------------------------------------------------------------------ */
/* Trolls fangs and goblins / AKA v.2.0 */
.titleSubtitle{
 flex-direction: column;
 text-align: center;
  /* margin-left:40%; */
  /* height:100%; */
  margin-top:50px;
  margin-bottom:30px;
}

.selectionLevel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.levelSelection{
  width:400px;
  margin-bottom:10px;
  margin-right:10px;
  flex:2;
}

.levelSelection:hover{
  border:2px solid rgba(243, 219, 1, 0.979);
}

